# Dependencies
node_modules
.pnpm-store

# Production build output
dist
dist-ssr
*.local

# Logs & temp files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
*.tmp
*.log

# Scratch scripts
process_logo.ps1
